<h1 class="current-category"> <%= params[:category] %> </h1>
<%-# allows display of books based on genre -%>
<%-# if there are no books it will state there arent any under that category -%>

<% if @books.count == 0 %>
    <h2>There are no <%= params[:category] %> books currently.</h2>
<% else %>
    <div class="row container">
        <% @books.each do |book| %>
    
            <div class="col-md-4">
                <a href="/books/<%= book.id %>">
                    <%= image_tag book.book_img.url(:book_index), class:book %>
                </a>
            </div>
<% end %>   
    </div>

<% end %>

